@model programbeaverhut.ru.Models.Contract
@{
    ViewBag.Title = "Конструктор договор";
}

<div class="card border" style="margin: 0px 0px 15px 0px;">

    <!-- card-header -->
    <div class="card-header">
        <form class="form-row align-items-center ">
            <h4>Создание нового договора на примере клиента "@ViewBag.SNM"</h4>
        </form>
    </div>

    <form method="post" asp-action="addContract" asp-controller="importExport" class="card-body">

        <div class="card border" style="margin: 0px 0px 15px 0px;">
            <!-- card-header -->
            <div class="card-header">
                <div class="form-row align-items-center ">
                    <h5>Преамбула</h5>
                </div>
            </div>
            <div class="card-body">
                <!--Это нужно что бы передать UserId1 и так как нам не надо что бы туда внасили он в скрытом формате -->
                <input type="hidden" value="@ViewBag.UserId1" name="UserId1" />
                <!--Это нужно что бы передать ReportingPeriodId и так как нам не надо что бы туда внасили он в скрытом формате -->
                <input type="hidden" value="@ViewBag.ReportingPeriodId" name="ReportingPeriodId" />
                <!--Это нужно что бы передать NameReportingPeriod и так как нам не надо что бы туда внасили он в скрытом формате -->
                <input type="hidden" value="@ViewBag.NameReportingPeriod" name="NameReportingPeriod" />

                <div class="form-group">
                    <label asp-for="Name" class="control-label">Название договора</label>
                    <input type="text" asp-for="Name" class="form-control" value="Пробный договор" />
                </div>

                <div class="form-group">
                    <label asp-for="TitleName" class="control-label">Заголовок договора</label>
                    <input type="text" asp-for="TitleName" class="form-control" value="Договор на поставку и установку продукции:" />
                </div>

                <div>
                    <div class="card-body">
                        <p style="font-size: 12px;"> *Номер договора заполняется автоматически. Индивидуально для каждого оформляемого по этому договору в дальнейшем клиента.</p>
                        <p>В данном случае, номер договора будет <b>@ViewBag.ContractNumber</b> </p>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="Address" class="control-label">Адрес заключения договора</label>
                    <input type="text" asp-for="Address" class="form-control" value="г. Иваново" />
                </div>

                <div>
                    <div class="card-body">
                        <p style="font-size: 12px;"> *Дата оформление договора заполняется автоматически. Индивидуально для каждого оформляемого по этому договору в дальнейшем клиента.</p>
                        <p>В данном случае, дата оформление договора <b>@ViewBag.Date</b> </p>
                    </div>
                </div>

                <div>
                    <div class="card-body">
                        <p style="font-size: 12px;"> *Наименование сторон оформляется автоматически. Индивидуально для каждого оформляемого по этому договору в дальнейшем клиента.</p>
                        <p>
                            <b>@ViewBag.NameLegalEntity</b>, именуемый в дальнейшем "Исполнитель", с одной стороны, и <b>@ViewBag.SNM</b>,
                            именуемый  в  дальнейшем  "Заказчик", с  другой  стороны,  заключили настоящий договор о нижеследующем:
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="card border" style="margin: 0px 0px 15px 0px;">
            <!-- card-header -->
            <div class="card-header">
                <div class="form-row align-items-center ">
                    <h5>Пункт №1. Предмет договора</h5>
                </div>
            </div>
            <div class="card-body">
                <div class="card-body">
                    <p style="font-size: 12px;">
                        *Подпункт 1.1 оформляться автоматически и индивидуально для каждого клиента.
                    </p>
                    <p>
                        1.1	Заказчик поручает, а Исполнитель обязуется оказать услугу (и) (или) передать в собственность Заказчика товар,
                        который (и) (или) которая в настоящем договоре именуется: <b>@ViewBag.NameCategory</b>.
                    </p>

                    <p style="font-size: 12px;">
                        *Подпункт 1.2 оформляться автоматически и индивидуально для каждого клиента.
                    </p>
                    <p>
                        1.2  Характеристика товара: ассортимент, точные размеры, количество, цена и другое, указываются в листе заказа № 1 от <b>@ViewBag.Date</b>
                        которые являются неотъемлемой частью договора.
                    </p>
                </div>

                <div class="form-group">
                    <label asp-for="ItemOne" class="control-label">Другие подпункты, пункта №1 </label>
                    <textarea type="text" name="ItemOne" class="form-control">1.3. После заключения настоящего договора любые изменения в листе заказа и эскизе не допускаются.</textarea>
                </div>
            </div>
        </div>

        <div class="card border" style="margin: 0px 0px 15px 0px;">
            <!-- card-header -->
            <div class="card-header">
                <div class="form-row align-items-center ">
                    <h5>Пункт №2. Стоимость работ и порядок расчетов</h5>
                </div>
            </div>
            <div class="card-body">
                <div class="card-body">
                    <p style="font-size: 12px;">
                        *Подпункт 2.1 оформляться автоматически и индивидуально для каждого клиента.
                    </p>
                    <p>
                        2.1.Стоимость договора без учота услуг, определяется сторонами в листе заказа №1 и составляет: <b>@ViewBag.AmountGoods</b>
                    </p>
                </div>

                <div class="form-group">
                    <label asp-for="ItemTwo" class="control-label">Другие подпункты, пунета №2 </label>
                    <textarea type="text" name="ItemTwo" class="form-control" style="min-height: 190px;">2.2. Оплата по настоящему договору производится в следующем порядке:
- 70% стоимости товара оплачивается при заключении настоящего договора;
- оставшуюся сумму Заказчик выплачивает по факту выполнения услуг, при получении товара и подписания акта сдачи-приемки и товарной накладной.
2.3. Оплата работ производится путем перечисления денежных средств в кассу Исполнителя.
2.4. Если замер осуществляется после заключение договора, стоимость продукции может быть скорректирована по причине изменения характеристик или комплектации.</textarea>
                </div>
            </div>
        </div>

        <div class="card border" style="margin: 0px 0px 15px 0px;">
            <!-- card-header -->
            <div class="card-header">
                <div class="form-row align-items-center ">
                    <h5>Пункт №3. Срок выполнения работ</h5>
                </div>
            </div>

            <div class="form-group card-body">
                <label asp-for="ItemThree" class="control-label">Пункт №3 </label>
                <textarea type="text" name="ItemThree" class="form-control" style="min-height: 280px;">3.1. Исполнитель обязуется оказать услуги в течение 40 рабочих дней с момента внесения Заказчиком предоплаты, предусмотренной п.2.2. настоящего договора.
3.2.  В случае, если по независящим от него  причинам (несвоевременная поставка поставщиком и т.п.)  Исполнитель не укладывается в установленный срок, он имеет право перенести срок исполнения заказа на срок до 65 рабочих дней с обязательным уведомлением Заказчика (устно или письменно) не позднее 3-х дней до установленного  пунктом 3.1 настоящего договора срока.
3.3. При приобретении заказчиком товара с элементами декора или фурнитуры, временно отсутствующими на складе или фурнитуры, приобретаемой Заказчиком самостоятельно, сроки изготовления товара определяются отдельно в каждом конкретном случае по соглашению сторон.
3.4. Товар считается принятым Заказчиком после полной его оплаты и с момента подписания акта сдачи-приемки и товарной накладной.</textarea>
            </div>
        </div>

        <div class="card border" style="margin: 0px 0px 15px 0px;">
            <!-- card-header -->
            <div class="card-header">
                <div class="form-row align-items-center ">
                    <h5>Пункт №4. Приемка работы </h5>
                </div>
            </div>

            <div class="form-group card-body">
                <label asp-for="ItemFour" class="control-label">Пункт №4 </label>
                <textarea type="text" name="ItemFour" class="form-control" style="min-height: 800px;">4.1. Доставка товара   и его установка может осуществляться:	
- собственными силами и средствами Заказчика	
- за дополнительную плату Исполнителем.	
4.2. После окончания работ Исполнитель уведомляет Заказчика о готовности товара и уточняет место и время доставки, если Заказчик заказал доставку.	
4.3. Заказчик в случае изменения места или времени доставки не менее чем за 24 часа должен уведомить об этом Исполнителя и согласовать с ним новое время или место доставки.	
4.4. Товар доставляется до места (до подъезда), указанного Заказчиком, в пределах административной границы Ивановской области и разгружается силами заказчиком, стоимость доставки до подъезда составляет 500 рублей. В случае если место доставки находится за пределами административной границы Ивановской области, то доставка оплачивается Заказчиком в размере, определенном в калькуляции в зависимости от дальности расстояния.	
4.5. В случае срыва доставки по вине Заказчика, повторная доставка оплачивается Заказчиком в размере 500 рублей, либо Заказчик своими силами и за свой счет вывозит товар из указанного Исполнителем места в согласованное время.	
4.6. При наличии заказа на услуги по установке, товар монтируется Исполнителем. Стоимость услуг по установке товара на месте определяется мастером после оказание услуги. Установка, производимая по просьбе Заказчика  в выходной день (субботу, воскресенье), оплачивается дополнительно в размере 1000 рублей.	
4.7. При отсутствии заказа на установку товара монтаж осуществляется Заказчиком самостоятельно и за его счет.	
4.8. Приемка товара оформляется актом сдачи-приемки, подписанным обеими сторонами. С момента подписания акта сдачи-приемки Исполнитель считается выполнившим все свои обязательства по настоящему договору.	
4.9. Заказчик обязан осуществить проверку товара, принять товар и  подписать акт сдачи-приемки и товарную накладную.	
4.10. В случае выявления Заказчиком при приемке товара несоответствий согласованным характеристикам он обязан указать на них в акте сдачи-приемки в разделе «Замечания». Исполнитель обязан рассмотреть указанные требования. В случае признания требований необоснованными Исполнитель в письменной форме отказывает в их удовлетворении.  Если требования  являются обоснованными, и товар, переданный Заказчику, не соответствует условиям договора, Исполнитель устраняет недостатки в течение 30 рабочих дней с момента предъявления соответствующих требований.	
4.11.Заказчик, обнаруживший недостатки в работе при приемке, вправе ссылаться на них в случаях, если в акте сдачи-приемки были оговорены эти недостатки.	
4.12. В случае  если Заказчик не подписал акт сдачи-приемки и не указал в нем недостатки работы в течение 1 рабочего дня с момента получения акта сдачи-приемки,  работы считаются выполненными Исполнителем в срок.	
4.13. В случае, если Заказчик отказывается от исполнения договора, он оплачивает Исполнителю фактические затраты по выполненному объему работ (включая доставку) с оформлением письменного соглашения о расторжении договора.	
</textarea>
            </div>
        </div>

        <div class="card border" style="margin: 0px 0px 15px 0px;">
            <!-- card-header -->
            <div class="card-header">
                <div class="form-row align-items-center ">
                    <h5>Пункт №5. Права и обязанности сторон </h5>
                </div>
            </div>

            <div class="form-group card-body">
                <label asp-for="ItemFive" class="control-label">Пункт №5 </label>
                <textarea type="text" name="ItemFive" class="form-control" style="min-height: 380px;">5.1. Исполнитель обязан:	
5.1.1. Передать заказчику товар надлежащего качества в соответствии с условиями настоящего договора.	
5.1.2.  Нести полную материальную ответственность за сохранность товара до момента передачи его заказчику.	
5.2. Исполнитель вправе:	
5.2.1. В случае если при выполнении заказа у Исполнителя возникнет недостаток материалов (комплектующих, фурнитуры, красителей) заменить их на аналогичные по качеству и схожие по внешнему виду материалы, если данная замена не повлияет на качество и внешний вид изготавливаемого товара.	
5.2.3. Изготовить и доставить товар досрочно.	
5.3. Заказчик обязан:	
5.3.1. Произвести оплату товара в соответствии с условиями настоящего договора.	
5.3.2. Принять товар на основании акта сдачи-приемки и товарной накладной .	
5.3.3. При приемке товара осуществить проверку товара на соответствие его согласованным характеристикам	
Внимание! Исполнитель не несет ответственности за независящие от него обстоятельства,  которые могут снизить качество установки товара: нарушение геометрии монтажного проема,  неровность стен, потолков, пола  и т.п.	
</textarea>
            </div>
        </div>

        <div class="card border" style="margin: 0px 0px 15px 0px;">
            <!-- card-header -->
            <div class="card-header">
                <div class="form-row align-items-center ">
                    <h5>Пункт №6. Качество товара </h5>
                </div>
            </div>

            <div class="form-group card-body">
                <label asp-for="ItemSix" class="control-label">Пункт №6 </label>
                <textarea type="text" name="ItemSix" class="form-control" style="min-height: 210px;">6.1.  Исполнитель обязуется поставить товар в соответствии с Техническими условиями и гарантирует соответствие товара согласованным характеристикам.
6.2.  Исполнитель не гарантирует соответствие натурального покрытия (Шпон и т.п.) по рисунку и тональности, в виду природного происхождения  этого материала.
6.3.  Исполнитель предупреждает, что возможны отклонения лакокрасочного покрытия и иных материалов по оттенку от образца.
6.4.  Исполнитель предупреждает, что при поставке товара, заказанного дополнительно на основании нового договора,   возможны значительные отклонения лакокрасочного покрытия и материала по оттенку.
</textarea>
            </div>
        </div>

        <div class="card border" style="margin: 0px 0px 15px 0px;">
            <!-- card-header -->
            <div class="card-header">
                <div class="form-row align-items-center ">
                    <h5>Пункт №7. Гарантийный срок </h5>
                </div>
            </div>

            <div class="form-group  card-body">
                <label asp-for="ItemSeven" class="control-label">Пункт №7 </label>
                <textarea type="text" name="ItemSeven" class="form-control" style="min-height: 100px;">7.1.  Гарантийный срок товара составляет 12 месяцев  при условии соблюдения правил эксплуатации.	
7.2.  Гарантийный срок начинает исчисляться с момента передачи товара Заказчику.	
</textarea>
            </div>
        </div>

        <div class="card border" style="margin: 0px 0px 15px 0px;">
            <!-- card-header -->
            <div class="card-header">
                <div class="form-row align-items-center ">
                    <h5>Пункт №8. Ответственность сторон и порядок разрешения споров </h5>
                </div>
            </div>

            <div class="form-group card-body">
                <label asp-for="ItemEight" class="control-label">Пункт №8 </label>
                <textarea type="text" name="ItemEight" class="form-control" style="min-height: 180px;">8.1. За неисполнение и ненадлежащее исполнение настоящего договора стороны несут ответственность в соответствии с действующим законодательством Российской Федерации.	
8.2. Все споры и разногласия, которые могут возникнуть в ходе исполнения настоящего договора, разрешаются путем переговоров. В случае невозможности урегулировать спорный вопрос путем переговоров, спор передается на рассмотрение суда в порядке, предусмотренном действующим законодательством.	
</textarea>
            </div>
        </div>

        <div class="card border" style="margin: 0px 0px 15px 0px;">
            <!-- card-header -->
            <div class="card-header">
                <div class="form-row align-items-center ">
                    <h5>Пункт №9. Форс-мажор </h5>
                </div>
            </div>

            <div class="form-group card-body">
                <label asp-for="ItemNine" class="control-label">Пункт №9 </label>
                <textarea type="text" name="ItemNine" class="form-control" style="min-height: 330px;">9.1.Стороны освобождаются от ответственности за частичное или полное неисполнение обязательств по настоящему договору, если это неисполнение явилось следствием обстоятельств непреодолимой силы (чрезвычайных и непредвиденных обстоятельств), возникших после заключения настоящего договора, включая  пожар, наводнение, землетрясение, постановления государственных органов и органов местного самоуправления, если эти обстоятельства непосредственно повлияли на исполнение настоящего договора.	
9.2. При наступлении обстоятельств форс-мажора каждая сторона должна без промедления известить о них в письменном виде другую сторону. Извещение должно содержать данные о характере обстоятельств,  а также официальные документы, удостоверяющие наличие этих обстоятельств и, по возможности, дающие оценку их влияния на возможность исполнения стороной своих обязательств по данному договору.	
9.3. В случаях наступления обстоятельств форс-мажора срок выполнения стороной обязательств по настоящему Договору отодвигается соразмерно времени, в течение которого действуют эти обстоятельства и их последствия	
</textarea>
            </div>
        </div>

        <div class="card border" style="margin: 0px 0px 15px 0px;">
            <!-- card-header -->
            <div class="card-header">
                <div class="form-row align-items-center ">
                    <h5>Пункт №10. Заключительные положения </h5>
                </div>
            </div>

            <div class="form-group card-body">
                <label asp-for="ItemTen" class="control-label">Пункт №10 </label>
                <textarea type="text" name="ItemTen" class="form-control" style="min-height: 230px;">10.1. Договор вступает в силу с момента его подписания и действует до полного исполнения сторонами своих обязательств.	
10.2. Все изменения и дополнения к настоящему договору могут быть внесены не иначе как в письменной форме и подписаны обеими сторонами.	
10.3. В случае изменения адреса или банковских реквизитов стороны обязаны уведомить об этом друг друга в пятидневный срок.	
10.4. Во всем остальном, что не урегулировано условиями настоящего договора, стороны будут руководствоваться действующим законодательством.	
10.5. Договор составлен в двух экземплярах, имеющих одинаковую юридическую силу, по одному для каждой из сторон.	
</textarea>
            </div>
        </div>

        <div class="card border" style="margin: 0px 0px 15px 0px;">
            <!-- card-header -->
            <div class="card-header">
                <div class="form-row align-items-center ">
                    <h5>Реквизиты сторон (В качестве премера взят выбранный клиент) </h5>
                </div>
            </div>

            <div class="card-body">
                <p style="font-size: 12px;">
                    *Исполнитель оформляться автоматически и индивидуально для каждого клиента
                </p>
                <p>
                    Исполнитель: <b>@ViewBag.LegalEntityName</b>
                </p>
                <p style="font-size: 12px;">
                    *ИНН оформляються автоматически и индивидуально для каждого клиента
                </p>
                <p>
                    ИНН: <b>@ViewBag.LegalEntityINN</b>
                </p>
                <p style="font-size: 12px;">
                    *ОГРНИП оформляються автоматически и индивидуально для каждого клиента
                </p>
                <p>
                    ОГРНИП: <b>@ViewBag.LegalEntityOGRIP</b>
                </p>
                <p style="font-size: 12px;">
                    *Адрес оформляються автоматически и индивидуально для каждого клиента
                </p>
                <p>
                    Адрес: <b>@ViewBag.Address</b>
                </p>
                <p style="font-size: 12px;">
                    *Телефон оформляються автоматически и индивидуально для каждого клиента
                </p>
                <p>
                    Контактный телефон: <b>@ViewBag.Telephone</b>
                </p>


                <p style="font-size: 12px;">
                    *Заказчик оформляться автоматически и индивидуально для каждого клиента
                </p>
                <p>
                    Заказчик: <b>@ViewBag.SNM</b>
                </p>
                <p style="font-size: 12px;">
                    *Паспортные данные (Для физ лиц) оформляються автоматически и индивидуально для каждого заказчика
                </p>
                <p>
                    Паспортные данные (Для физ лиц): <b>@ViewBag.PassportData</b>
                </p>
                <p style="font-size: 12px;">
                    *ИНН (Для юр лиц) оформляються автоматически и индивидуально для каждого заказчика
                </p>
                <p>
                    ИНН (Для юр лиц): <b>@ViewBag.ClientINN</b>
                </p>
                <p style="font-size: 12px;">
                    *ОГРНИП (Для юр лиц) оформляються автоматически и индивидуально для каждого заказчика
                </p>
                <p>
                    ОГРНИП (Для юр лиц): <b>@ViewBag.ClientOGRIP</b>
                </p>
                <p style="font-size: 12px;">
                    *Адрес оформляються автоматически и индивидуально для каждого заказчика
                </p>
                <p>
                    Адрес: <b>@ViewBag.Address1</b>
                </p>
                <p style="font-size: 12px;">
                    *Телефон оформляються автоматически и индивидуально для каждого заказчика
                </p>
                <p>
                    Контактный телефон: <b>@ViewBag.Telephone1</b>
                </p>
            </div>
        </div>

        <div class="card border" style="margin: 0px 0px 15px 0px;">
            <!-- card-header -->
            <div class="card-header">
                <div class="form-row align-items-center ">
                    <h5>Правила пользования </h5>
                </div>
            </div>

            <div class="form-group card-body">
                <label asp-for="TermsUse" class="control-label">Пункты, правила пользования:</label>
                <textarea type="text" name="TermsUse" class="form-control" style="min-height: 480px;">п.1  Изделия  изготавливают в соответствии  с техническими условиями на конкретные типы, размеры и конструкцию этих изделий  и рабочим чертежам, утвержденным в установленном порядке.	
п.2  При хранении и транспортировке товара должны быть приняты меры для предохранения их от механических повреждений, загрязнения, увлажнения, воздействия атмосферных осадков и прямых солнечных лучей.	
п.3  Изделия перевозят транспортом всех видов в крытых транспортных средствах в соответствии с действующими правилами перевозки грузов.	
п.4  Товар  перед транспортировкой должен быть надежно закреплен запирающимися приборами, а в случае если приборы не предусмотрены конструкцией изделий – планками, стяжками или другими приспособлениями, не вызывающими повреждение изделий. Забивка гвоздей или других крепежных деталей не допускается.	
Не допускается:	
1. Транспортировка без предохранения от механических повреждений и защиты от атмосферных осадков.	
2. Хранение в не отапливаемых, сырых помещениях.	
3. Прямое попадание влаги на изделие.	
4. Установка изделий в непосредственной близости от отопительных приборов, а также источников повышенной влажности.	
5. Использование воды и  растворителей для очистки дверных полотен.	
В случае нарушения правил транспортировки, хранения и пользования изделиями, а также ремонта изделий неуполномоченными  на это  со стороны изготовителя лицами, претензии не принимаются.	
</textarea>
            </div>
        </div>

        <div class="card border" style="margin: 0px 0px 15px 0px;">
            <!-- card-header -->
            <div class="card-header">
                <div class="form-row align-items-center ">
                    <h5>Акт приема-передачи </h5>
                </div>
            </div>

            <div class="form-group card-body">
                <label asp-for="AcceptanceCertificate" class="control-label">Пункты, акта приема-передачи:</label>
                <textarea type="text" name="AcceptanceCertificate" class="form-control" style="min-height: 120px;">Исполнитель с одной стороны и Заказчик с другой стороны при передаче Заказа от Исполнителя к Заказчику установили:
1. Исполнитель выполнил Заказ  в полном объеме и в установленные сроки  согласно договора  от ___________ № ________.	
2. Качество выполненного Заказа соответствует предъявленным требованиям.	
3. Стороны претензий друг к другу не имеют.	
</textarea>
            </div>
        </div>

            <div class="form-group">
                <input type="submit" value="Сохранить" class="form-group btn btn-outline-dark" style="margin-bottom: 4px;" />
            </div>
    </form>
</div>

